**Importing libraries**

In [2]:
import xml.etree.ElementTree as ET
import re
import os
import pandas as pd

**Get current path**

In [3]:
path = os.getcwd() + '\\ADNI\\'
print(path)

c:\Users\Emili\BIOLAB_project\ADNI\

### **Get weight dataframe**

In [31]:
weight_dict = {'RID': [], 'Weight': []}

for file in os.listdir(path):
    if file[-3:] == 'xml':
        tree = ET.parse(path + file)
        root = tree.getroot()
        project = root.find('project')
        subject = project.find('subject')
            
        # Getting subject ID
        ID = subject.find('subjectIdentifier').text
        m = re.search('_S_(\d+)', ID)
        weight_dict['RID'].append(m.group()[3:])
            
        # Getting weight
        study = subject.find('study')
        weight = study.find('weightKg').text
        weight_dict['Weight'].append(weight)

In [32]:
weight_df = pd.DataFrame(weight_dict)
weight_df

       RID Weight
0     0295   74.5
1     0295   74.1
2     0295   72.6
3     0295  73.75
4     0295   72.9
...    ...    ...
2490  1311   62.6
2491  1311  58.97
2492  1311  59.87
2493  1311  60.33
2494  1363  92.53

[2495 rows x 2 columns]

In [12]:
weight_df.to_csv(os.getcwd() + '\\weight.csv', index=False)

### **Get genetic dataframe**

We are going to build a dataframe with the information about the **APOE** gene, responsible for the disease

In [33]:
genetic_dict = {'RID': [], 'APOE A1': [],  'APOE A2': []}

for file in os.listdir(path):
    if file[-3:] == 'xml':
        tree = ET.parse(path + file)
        root = tree.getroot()
        project= root.find('project')
        subject = project.find('subject')
            
        # Getting subject ID
        ID = subject.find('subjectIdentifier').text
        m = re.search('_S_(\d+)', ID)
        genetic_dict['RID'].append(m.group()[3:])
                
        # Getting APOE A1 and APOE A2 values
        for subjectInfo in subject.findall('subjectInfo'):
            item = subjectInfo.get('item')
            if item == 'APOE A1':
                genetic_dict['APOE A1'].append(subjectInfo.text)
            elif item == 'APOE A2':
                genetic_dict['APOE A2'].append(subjectInfo.text)

In [35]:
genetic_df = pd.DataFrame(genetic_dict)
genetic_df

       RID APOE A1 APOE A2
0     0295       3       4
1     0295       3       4
2     0295       3       4
3     0295       3       4
4     0295       3       4
...    ...     ...     ...
2490  1311       4       4
2491  1311       4       4
2492  1311       4       4
2493  1311       4       4
2494  1363       3       4

[2495 rows x 3 columns]

In [40]:
genetic_df.to_csv(os.getcwd() + '\\apoe.csv', index=False)

In [39]:
##################################
genetic_df['APOE A2'].value_counts()

APOE A2
3    1286
4    1206
2       3
Name: count, dtype: int64